*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.cabecalho{
    background-color: aqua;
    width: 60%;
    justify-content: center;
}

.conteudo{
    background-color: aqua;
    width: 60%;
    justify-content: center;
}

.rodape{
    background-color: aqua;
    width: 60%;
    justify-content: center;

}